{% load bootstrap4 %}
{% bootstrap_javascript %}
{% bootstrap_css %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自动化测试平台</title>

    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/acore.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
    <meta name="viewport" charset="UTF-8" content="user-scalable=no,width=device-width,initial-scale=1.0,maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css" />
    <meta name="robots" content="NONE,NOARCHIVE" />
</head>

<body role="document">
<!--导航栏-->
    <nav class="navbar navbar-expand-sm bg-dark nav-dark navbar-fixed-top">
    </nav>

{#流程接口列表#}
<div class="row" style="padding-top: 30px">

{#    增加api流程测试用例#}
    <div style="float: right;width: 73%">
        <select name="Apitest" id="id_Apitest">
            <option value="" selected>
                ----api流程测试用例----
            </option>
        </select>
    </div>

    <a class="related-widget-wrapper-link change-related" id="change_id_Apitest" data-href-template="/admin/apitest/apitest/__fk__/change/?
    _to_field=id&amp;_popup=1" title="更改选中的测试地址">
        <img src="/static/admin/img/icon-changelink.svg" alt="修改" />
    </a>

    <a class="related-widget-wrapper-link add-another" id="add_id_Apitest" href="admin/apitest/apitest/add/?_to_field=id&amp;__popup=1"
    title="增加一个测试用例">
        <img src="/static/admin/img/icon-changelink.svg" alt="增加" />增加
    </a>

{##搜索功能#}
        <div class="page-header" style="padding-top: 10px">
            <form class="navbar-form" method="get" action="/apisearch/">
                <input type="search" name="apitestname" placeholder="名称" required>
                <button type="submit">搜索</button>

            </form>
        </div>

    <div class="col-md-11">
        <table class="table table-striped">
            <thead>

            <tr>
                <th>ID</th>
                <th>业务接口流程名称</th>
                <th>测试负责人</th>
                <th>结果</th>
                <th>接口列表</th>
                <th>编辑</th>

            </tr>
            </thead>

            <tbody>
            {% for apitest in apitests %}
                <tr>
                <td>{{ apitest.id }}</td>
                <td>{{ apitest.apitestname }}</td>
                <td>{{ apitest.apitester }}</td>
                <td>{{ apitest.apitestresult }}</td>
                    <td>
    <a style="color: blue" class="related-widget-wrapper-link add-another" id="add_id_Apitest"
    href="../admin/apitest/apitest/{{ apitest.id }}/change/?_to_field=id&_popup=1">
        <img src="/static/admin/img/icon-changelink.svg">
    </a>
</td>


{#                <td>{% if  apitest.apitestresult == 1 %}#}
{#                    <a style="color: green">{{ apitest.apitestresult }}</a>#}
{#                    {% else %}#}
{#                     <a style="color: red">{{ apitest.apitestresult }}</a>#}
{#                    {% endif %}#}
{#                    </td>#}
{##}
{#                <td>{{ apitest.Apistep.apiteststep }}</td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>



{#翻页功能#}
<span style="position: absolute;right: 100px;bottom: 30px"></span>

#统计
<div style="position: absolute;right: 100px;bottom:30px">
    <tr><th>共</th><td>{{ apitestcounts }}条记录</td></tr>
</div>

<div class="container">
    <ul class="pagination" id="pager">

        {% if apitests.has_previous %}
            <li class="previous">
                <a href="/apitest_manage/?page={{ apitests.previous_page_number }}">
                     上一页
                </a>
            </li>

            {% else %}
            <li class="previous disabled">
                <a href="#">
                    上一页
                </a>
            </li>
        {% endif %}

        {% for num in apitests.paginator.page_range %}
            {% if num == currentPage %}
            <li class="item active">
                <a href="/apitest_manage/?page={{ num }}">
                    {{ num }}
                </a>
            </li>

                {% else %}
                <li class="item">
                    <a href="/apitest_manage/?page={{ num }}">
                        {{ num }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}

        {% if apitests.has_next %}
            <li class="next">
                <a href="/apitest_manage/?page={{ apitests.next_page_number }}">
                    下一页
                </a>
            </li>

            {% else %}
            <li class="next disabled">
                <a href="#">
                    下一页
                </a>
            </li>
        {% endif %}
    </ul>

</div>

</body>
</html>