<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" http-equiv="Content-Type" content="text/html" />
<head>

    <title>自动化测试平台</title>
</head>

{#<frameset id="framel" rows="*" cols="265,*" framespacing="0" frameborder="yes" border="0"></frameset>#}
{#<frame src="#" name="leftFrame" scrolling="auto" noresize="">#}
{#<frame src="#" name="mianFrame" scrolling="NO" noresize="">#}


    <body>
    <ul class="nav navbar-nav navbar-right">
        <li>欢迎您:<a href="#">{{ user }}</a></li>
        <li><a href="/logout">退出</a></li>
    </ul>
</body>
</html>