{% load bootstrap4 %}
{% bootstrap_javascript %}
{% bootstrap_css %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/apitest_manage" target="mainFrame">
            接口自动化测试平台开发
        </a>
    </div>
</nav>
<table border="0">
    <tr><td>&nbsp</td></tr>
    <tr><td>&nbsp</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>

    <tr>
        <td><a href="/apitest_manage/" target="mianFrame">&nbsp;&nbsp;项目管理</a></td>
    </tr>

    <tr><td>&nbsp;</td></tr>
    <tr>
        <td>
            <a>----------------------------------------------------------------------------</a>
        </td>
    </tr>
    <tr><td>&nbsp;</td></tr>

    <tr>
        <td>
            <a href="/apitest_manage" target="mainFrame">&nbsp;&nbsp;接口用例管理</a>
        </td>
    </tr>
    <tr><td>&nbsp;</td></tr>

       <tr> <td><a href="/apitest_manage/" target="mianFrame">&nbsp;&nbsp;流程接口测试用例</a></td></tr>
        <tr><td>&nbsp;</td></tr>

    <tr>
        <td><a href="/appcase_manage/" target="mianFrame">&nbsp;&nbsp;流程接口测试用例步骤</a></td>
    </tr>
    <tr><td>&nbsp;</td></tr>

    <tr>
        <td>
            <a>----------------------------------------------------------------------------</a>
        </td>
    </tr>
    <tr><td>&nbsp;</td></tr>

    <tr>
        <td>
            <a href="/appcase_manage" target="mainFrame">&nbsp;&nbsp;app用例管理</a>
        </td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td>
            <a href="/appcase_manage" target="mainFrame">&nbsp;&nbsp;app测试用例</a>
        </td>
    </tr>
    <tr><td>&nbsp;</td></tr>


    <tr>
        <td>
            <a>----------------------------------------------------------------------------</a>
        </td>
    </tr>
    <tr><td>&nbsp;</td></tr>

    <tr>
        <td>
            <a href="/webcase_manage" target="mainFrame">&nbsp;&nbsp;web用例管理</a>
        </td>
    </tr>
    <tr><td>&nbsp;</td></tr>
     <tr>
        <td>
            <a href="/webcase_manage" target="mainFrame">&nbsp;&nbsp;web测试用例</a>
        </td>
    </tr>
    <tr><td>&nbsp;</td></tr>

    <tr>
        <td>
            <a>----------------------------------------------------------------------------</a>
        </td>
    </tr>
    <tr><td>&nbsp;</td></tr>

    <tr>
        <td><a href="http://127.0.0.1:8000/admin/apitest/apitest/add/" target="mianFrame">&nbsp;&nbsp;任务管理</a></td>
    </tr>
    <tr><td>&nbsp;</td></tr>

    <tr>
        <td>
            <a>----------------------------------------------------------------------------</a>
        </td>
    </tr>
    <tr><td>&nbsp;</td></tr>

    <tr>
        <td><a href="http://127.0.0.1:8000/admin/apitest/apitest/add/" target="mianFrame">&nbsp;&nbsp;测试报告</a></td>
    </tr>

</table>

</body>
</html>