/*<!DOCTYPE html>*/
/*<html lang="en">*/
/*<head>*/
    /*<meta charset="UTF-8">*/
    /*<title>Title</title>*/

    /*<style>*/
         /*{##所有标题都变成红色20px#}*/
        h1,h2 {color: red;font-size: 20px}
        /*{#把背景色变成灰色#}*/
        body {background-color: silver}
        /*{#把宽高调整,距离左边20px#}*/
        div.container {width: 600px;height: 600px;margin-left:20px;}
        /*{#尝用的属性#}*/
        /*{#width、hight、background-color、color、float、font-size、font-family、text-align、list-style-type、padding#}*/

    /*</style>*/

/*</head>*/
/*<body>*/
    /*<div class="container">*/
        /*<div class="head">*/
            /*<h1>慧测科技<p>This is a demo</p></h1>*/
        /*</div>*/
        /*<div class="a">*/
            /*<h2>Heading1</h2>*/
            /*<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui</p>*/
        /*</div>*/
        /*<div class="a">*/
            /*<h2>Heading2</h2>*/
            /*<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui</p>*/
        /*</div>*/
        /*<div class="a">*/
            /*<h2>Heading3</h2>*/
            /*<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui</p>*/
        /*</div>*/
    /*</div>*/
/*</body>*/
/*</html>*/